<div id="configurationAreaBgColor" 
     style='
     z-index: 1;
     top: 0px;
     bottom: 0px;
     width: 100%;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>

{{ include('@Home/home/sub/iconExplanation/artist.html.twig') }}
{{ include('@Home/home/sub/iconExplanation/profile.html.twig') }}
{{ include('@Home/home/sub/iconExplanation/song.html.twig') }}
{{ include('@Home/home/sub/iconExplanation/uploadVideo.html.twig') }}
{{ include('@Home/home/sub/iconExplanation/video.html.twig') }}